<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2020</p>
                        <div class="h5">Bachelor's Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor's of Technology</div>
                                <h4 class="category">Jaypee institute of engineering and technology</h4>
                                <ul>
                                    <li> AKTU University  <b>ranks 2st</b> in NEW DELHI </li>
                                        <li>Completed B-tech in Computer Science and Engineering with <b>7.88 cgpa </b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2013-2015</p>
                        <div class="h5">Secondary education</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">CBSE</div>
                            <h4 class="category">Dav koylanagar</h4>
                            <ul>
                                    <li>Completed secondary education with <b>88%</b> aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2013</p>
                        <div class="h5">Primary education</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">CBSE</div>
                                <h4 class="category">DAV PUBLIC SCHOOL</h4>
                                <ul>
                                        <li>Completed with <b>8.6 cgpa </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>                                            
</div>     